@font-face {
	font-family: 'Circe-Bold';
	src: url('../fonts/Circe-Bold.eot');
	src: local('☺'), url('../fonts/Circe-Bold.woff') format('woff'), url('../fonts/Circe-Bold.ttf') format('truetype'), url('../fonts/Circe-Bold.svg') format('svg');
	font-weight: 700px;
	font-style: normal;
}

@font-face {
	font-family: 'Circle-Regular';
	src: url('../fonts/Circle-Regular.eot');
	src: local('☺'), url('../fonts/Circle-Regular.woff') format('woff'), url('../fonts/Circle-Regular.ttf') format('truetype'), url('../fonts/Circle-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilam Black DEMO';
	src: url('../fonts/Fontfabric - Gilam Black DEMO.eot');
	src: local('☺'), url('../fonts/Fontfabric - Gilam Black DEMO.woff') format('woff'), url('../fonts/Fontfabric - Gilam Black DEMO.ttf') format('truetype'), url('../fonts/Fontfabric - Gilam Black DEMO.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GilamDemo-ThinItalic';
	src: url('../fonts/GilamDemo-ThinItalic.eot');
	src: local('☺'), url('../fonts/GilamDemo-ThinItalic.woff') format('woff'), url('../fonts/GilamDemo-ThinItalic.ttf') format('truetype'), url('../fonts/GilamDemo-ThinItalic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

.container {
    background-image: url(../img/header-bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 1920px;
    height: 2707px;
    margin-bottom: 100px;
}

.wrapper {
    width: 1460px;
    margin: 0 auto;
    height: 100%;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.logo {
    height: 33px;
    margin-top: 46px;
}

.contact {
    margin-top: 50px;
}

.phone {
    font-family: 'Circe-Bold';
    font-weight: 700px;
    font-size: 19px;
    color: #D6AF76;
}

.phone-part2 {
    font-family: 'Circe-Bold';
    font-weight: 700px;
    font-size: 19px;
    color: #ffffff;
}

.call-back {
    display: inline-block;
    font-family: 'Circle-Regular';
    border: 1px solid#E4B564;
    padding: 10px 25px 10px 49px;
    text-decoration: none;
    background-image: url(../img/img\ header/vector.png);
    background-repeat: no-repeat;
    background-position: 15% 50%;
    color: #E4B564;
    margin-left: 39px;
}

.networks-title {
    font-family: 'Gilam Black DEMO';
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 41px;
}

.networks-text {
    font-family: 'Gilam Black DEMO';
    width: 1182px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 41px;
}

.networks-container {
    height: 963px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 27px;
    margin-bottom: 161px;
}

.networks {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Gilam Black DEMO';
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

.earthworks {
    background-image: url(../img/img\ networks/earthworks.jpeg);
}

.tubing {
    background-image: url(../img/img\ networks/tubing.jpeg);
    grid-column: 2 / 4;
}

.canal {
    background-image: url(../img/img\ networks/canal.jpeg);
}

.pillar {
    background-image: url(../img/img\ networks/pillar.jpeg);
    grid-column: 1 / 3;
}

.well {
    background-image: url(../img/img\ networks/well.jpeg);
    grid-column: 3 / 5;
}

.technology-title {
    font-family: 'Gilam Black DEMO';
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 94px;
}

.technology-container {
    height: 963px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4fr 1fr 2fr 2fr 4fr;
    gap: 27px;
    margin-bottom: 191px;
}

.technology {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Gilam Black DEMO';
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    padding: 44px 52px;
}

.kamaz {
    background-image: url(../img/img\ technology/kamaz.jpeg);
    grid-row: 1 / 3;
}

.kamaz-2 {
    background-image: url(../img/img\ technology/kamaz_2.jpeg);
    grid-row: 1 / 4;
}

.excavator-loader {
    background-image: url(../img/img\ technology/excavator-loader.jpeg);
}

.loader {
    background-image: url(../img/img\ technology/loader.jpeg);
    grid-column: 1 / 2;
    grid-row: 3 / 6;
}

.excavator {
    background-image: url(../img/img\ technology/excavator.jpeg);
    grid-column: 2 / 3;
    grid-row: 4 / 6;
}

.kamaz_3 {
    background-image: url(../img/img\ technology/kamaz_3.jpg);
    grid-row: 2 / 5;
}

.road-roller {
    background-image: url(../img/img\ technology/road-roller.jpeg);
}

.client-block {
    background-image: url(../img/parallax-bg.jpeg);
    width: 1920px;
    height: 1054px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 300px;
}

.client-flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 155px;
    padding-bottom: 62px;
}

.client-title {
    font-family: 'Gilam Black DEMO';
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
}

.all-project {
    border: 1px solid#E4B564;
    padding: 10px 40px;
}

.all-project-link {
    font-family: 'Circle-Regular';
    display: inline-block;
    text-decoration: none;
    color: #E4B564;    
}

.client-container {
    height: 782px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.client {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.client1 {
    background: #634F2C;
}

.client1:hover {
    background: #634f2cbf;
}

.client2 {
    display: flex;
    flex-direction: column;
    background: rgb(232, 210, 171);
}

.client2:hover {
    background: rgba(232, 210, 171, 0.76);
}

.client3 {
    background: #E4B564;
}

.client3:hover {
    background: #e4b564c3;
}

.client4 {
    background: #635A4A;
}

.client4:hover {
    background: #635a4ac3;
}

.client5 {
    display: flex;
    flex-direction: column;
    background: #B08C4D;
}

.client5:hover {
    background: #b08c4dc1;
}

.client6 {
    background: #634F2C;
}

.client6:hover {
    background: #634f2cc3;
}